<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Standard View Room</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <section>
        <div class="backbutton"><a href="../../index.html"><img src="assets/img/arrow_back_FILL0_wght400_GRAD0_opsz24.png" alt="zurück Icon"></a></div>
        <ul>
            <li>
                <h2>"Romantische Atmosphäre"</h2>
                <p>Der Standard View Room bietet eine romantische Atmosphäre, besonders am Abend, wenn die Stadtlichter durch das Fenster scheinen. Ideal für Paare!</p>
            </li>
            <li>
                <h2>"Atemberaubende Sonnenaufgänge"</h2>
                <p>Ich hatte das Glück, einen atemberaubenden Sonnenaufgang von meinem Standard View Room aus zu beobachten. Das allein hat meinen Aufenthalt unvergesslich gemacht.</p>
            </li>
            <li>
                <h2>"Panoramablick"</h2>
                <p>Der Panoramablick vom Standard View Room aus ist wirklich beeindruckend. Ich habe viele Fotos gemacht, um diese Aussicht mit meinen Freunden zu teilen.</p>
            </li>
            <li>
                <h2>"Entspannende Umgebung"</h2>
                <p>Der Standard View Room bietet eine entspannende Umgebung, die perfekt ist, um dem Alltagsstress zu entfliehen.</p>
            </li>
            <li>
                <h2>"Ideal für Fotografen"</h2>
                <p>Wenn du Fotografie liebst, ist der Standard View Room der ideale Ort. Die verschiedenen Perspektiven und Lichtverhältnisse bieten großartige Möglichkeiten für beeindruckende Fotos.</p>
            </li>
            <li>
                <h2>"Beeindruckende Aussicht"</h2>
                <p>Der Standard View Room bietet wirklich eine beeindruckende Aussicht. Ich konnte den Sonnenuntergang über der Stadt direkt von meinem Zimmer aus genießen. Die Zimmer sind gut gestaltet, und die Aussicht ist definitiv das Highlight.
                </p>
            </li>
            <li>
                <h2>"Perfekt für Naturliebhaber"</h2>
                <p>Wenn du die Natur liebst, ist der Standard View Room die richtige Wahl. Die Zimmer bieten einen herrlichen Blick auf die umliegende Landschaft. Eine großartige Möglichkeit, dem städtischen Trubel zu entkommen.</p>
            </li>
        </ul>
    </section>
</body>
</html>