*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url(../../../assets/img/hDbCjHNdF48.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}

section{
    background-color: white;
    margin: 0 20vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 5%;
}

input {
    padding: 2%;
    width: 60%;
}

label{
    padding: 2%;
}

select{
    padding: 2%;
}

img{
    width: 50%;
    margin: 0 auto 5%;
}

.name{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.vorname{
    display: flex;
    justify-content: space-between;
}

.nachname{
    display: flex;
    justify-content: space-between;
}

.adresse{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.straße{
    display: flex;
    justify-content: space-between;
}

.plz{
    display: flex;
    justify-content: space-between;
}

.email{
    display: flex;
    justify-content: space-between;
}

.telefon{
    display: flex;
    justify-content: space-between;
}

.telefon label{
    font-size: 0.8rem;
}

.room{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.pay{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.submit{
    display: flex;
    flex-direction: column;
}

.submit input{
    align-self: center;
    background-color: #DFAA5B;
    color: white;
}

.submit input:hover{
    background-color: #b48031;
}


.submit label{
    font-size: 0.75rem;
    text-align: center;
}


