*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "ubuntubold";
    src: url("../fonts/Ubuntu/Ubuntu-Bold.ttf");
}
@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu/Ubuntu-Light.ttf");
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}

.logo{
    margin-top: 10vh;
}

nav{
    display: flex;
    width: 60%;
    justify-content: space-around;
}

nav a{
    color: #957554;
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
}

nav a:hover{
    color: #b48031;
    text-shadow: #FC0 1px 0 10px;
}

.explore{
    background-image: url(../img/hDbCjHNdF48.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    margin-top: 10%;
}

.explore h1{
    color: #FFF;
    font-family: "Ubuntu";
    font-size: 5rem;
    font-weight: 400;
    margin-top: 15%;
}

.untertitel{
    color: #FFF;
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: 500;
}

.buttonStyle{
    color: #FFF;
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    background-color: #DFAA5B;
    border-radius: 5px;
}

.buttonStyle:hover{
    background-color: #b48031;
}

.buttonExplore{
    padding: 3vh 15vh;
}

.facilities{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facilitiesHeadline{
    color: #957554;
    font-family: "Ubuntu";
    font-size: 2.8125rem;
    font-weight: 500;
    margin: 5vh 0;
}

.icons{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-bottom: 5vh;
}

.icons p{
    color: #957554;
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin-top: 3vh;
}

.rooms{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
}   

.headlineRooms{
    color: #957554;
    font-family: "Ubuntu";
    font-size: 2.8125rem;
    font-weight: 500;
    margin: 10vh 0;
}

.roomsFrame{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "twin standard"
    "view deluxe" ;
    gap: 5vh;
}

.twin{
    grid-area: twin;
    background-image: url("../img/FqqiAvJejto.png");
}

.standard{
    grid-area: standard;
    background-image: url("../img/GqbU78bdJFM.png");
}

.view{
    grid-area: view;
    background-image: url("../img/w1RE0lBbREo.png");
}

.deluxe{
    grid-area: deluxe;
    background-image: url("../img/aRT5UCf2MYY.png");
}

.twin , .standard , .view, .deluxe{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    width: 40vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5vh;
}

.roomsFrame p{
    color: #FFF;
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: 500;
}

.checkButton {
    margin-bottom: 2.5vh;
    padding: 2.5vh;
}


.book{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book h2{
    color: #957554;
    text-align: center;
    font-family: "Ubuntu";
    font-size: 2.8125rem;
    font-weight: 500;
    margin: 5vh 0;
    }

.bookButton{
    padding: 3vh 17vh;
    margin: 5vh 0;
}

footer{
    background-color: rgb(18,18 ,18);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "links mitte rechts";
}

.links{
    grid-area: links;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    margin: 10vh 0 20vh 5vw;
}

.kontaktinfos{
    color: #FFF;
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: 300;
}

.kontaktinfos p:first-of-type{
    font-family: "ubuntubold";
}

.mitte{
    grid-area: mitte;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin: 10vh 0 20vh;
}

.mitte a{
    color: #FFF;
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
}

.rechts{
    grid-area: rechts;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin: 10vh 0 20vh;
}

.rechts p{
    color: #FFF;
    font-family: "ubuntubold";
    font-size: 1.875rem;
    font-weight: 500;
}

.rechts input , .rechts a{
    width: 20vw;
    padding: 4vh 0;
    border-radius: 5px;
}

.rechts a{
    text-align: center;
}

.rechts input::placeholder{
    font-size: 1.5rem;
    padding: 5vh;
    color: rgba(0, 0, 0, 0.50);
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: 300;
}


@media only screen and (max-width: 700px) { 
    header{
        justify-content: center;
    }
    nav {
        flex-direction: column;
        gap: 3vh;
    }
    .explore{
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .explore h1{
        font-size: 4rem;
    }
    .headlineRooms{
        text-align: center;
    }
    .checkButton{
        padding: 2vh 10vw;
    }
    .buttonExplore{
        padding: 2vh 10vw;
    }
    .icons{
        flex-direction: column;
        gap: 5vh;
    }
    .kitchen , .pool , .wifi , .gym, .taxi{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .icons img{
        width: 20vw;
    }
    .roomsFrame {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4 1fr);
        grid-template-areas: 
        "twin"
        "standard"
        "view"
        "deluxe" ;
        gap: 5vh;
    }
    .roomsFrame div{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .roomsFrame p{
        margin-top: 5vh;
    }
    .book h2{
        margin: 0;
    }
    .bookButton{
        padding: 3vh 10vw;
    }
    footer{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "links"
        "mitte"
        "rechts";
        align-items: center;
        justify-content: center;
    }
    .links, .mitte , .rechts{
        justify-content: center;
        align-items: center;
        margin: 3% 0;
        gap: 2vh;
    }
    .links p{
        text-align: center;
    }
    .rechts input {
        width: 90%;
    }
    .rechts a{
        width: 90%;
        margin-bottom: 10vh;
    }
}
